<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="/css/singleStudent.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><h1> Student Information </h1></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="container" id="user-info">
       
        <div class="info">
            <p><span class="attribute">Name:</span> <%- student[0].name %></p>
            <p><span class="attribute">Email:</span> <%- student[0].email %></p>
            <p><span class="attribute">Age:</span> <%- student[0].age %></p>
            <p><span class="attribute">Gender:</span> <%- student[0].gender%></p>
            <button> <a href="/delete/<%- student[0].id %>">Delete </a> </button>
            <button> <a href="/edit/<%- student[0].id %>">Edit</a> </button>
            
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Our School. All rights reserved.</p>
    </footer>
</body>
</html>
